export(emptyABT, toyABT, readABT, idABT, plotEachABT, plotAllABT)
export(groupAttribABT, halfLifeABT)
importFrom("openxlsx", "read.xlsx", "write.xlsx")
importFrom("grDevices", "dev.off", "gray", "pdf", "hcl.colors")
importFrom("graphics", "axis", "lines", "points", "box", "legend", "text")
importFrom("stats", "lowess", "rnorm")
importFrom("DescTools", "Gmean")
importFrom("grDevices", "col2rgb", "rgb")
S3method(print, ABT)
S3method(subset, ABT)
