export(emptyABT, toyABT, readABT, idABT, plotEachABT, plotAllABT)
importFrom("openxlsx", "read.xlsx", "write.xlsx")
importFrom("grDevices", "dev.off", "gray", "pdf")
importFrom("graphics", "axis", "lines", "points", "box")
S3method(print, ABT)
